@{
    Layout = null;
}

<html>
<head>
    <title>CV NGUYEN ANH TU </title>
    <style>
        * {
            box-sizing: border-box;
        }

        header {
            background-color: #ff0000;
            padding: 20px;
            text-align: center;
            font-size: 30px;
            color: white;
        }

        nav {
            float: left;
            width: 15%;
            height: 1000px;
            padding: 20px;
            background-color: Snow;
        }

        article {
            float: right;
            padding: 20px;
            width: 85%;
            background-color: Azure;
        }

        }
    </style>
    <body>
        <header>
            <p style="font-size:50px;text-align:center" ">
                Nguyen Anh Tu - Curriculum Vitae
            </p>
        </header>
        <hr>
        <nav>
        </nav>
        <article>
            <pre style="text-align:left"> 
			Địa chỉ: 289c Quốc lộ 1A, phường Bình Chiểu, Quận Thủ Đức
			
			Thành phố HCM
			
			Việt Nam
			
			Email: tu.lqd.163@gmail.com
					</pre>
            <h2 style="background-color:Tomato;font-family:Courier"> THÔNG TIN CÁ NHÂN</h2>
            <pre>
            <img src="https://scontent.fsgn5-7.fna.fbcdn.net/v/t1.0-9/13177755_792749044160393_4323887177361219925_n.jpg?_nc_cat=103&_nc_oc=AQkt49T7cHC6y-6wLTWJgb4j9Hx3H2QaUs-5wR0zj3O7c26LZq3XlDoQK_fUHSJYtewv5sYwkSYFoeiun5pMcsZO&_nc_ht=scontent.fsgn5-7.fna&oh=7652e8d0d2c3e3f9d2329c6fa1400334&oe=5CBBE91A" alt="Ảnh đại diện"
                 style="float:left;width:150px;height:150px">
	Họ tên: Nguyễn Anh Tú 
	
	Ngày sinh: 16/03/1999
	
	Quốc tịch: Việt Nam	  
	
	Giới tính: Nam        
					</pre>
            <h2 style="background-color:Tomato;font-family:Courier"> TRÌNH ĐỘ HỌC VẤN</h2>
            <pre style="text-align:center;font-size:15px">
		
	Trình độ hiện tại 12/12
	
	Hiện tại đang học tập tại trường đại học Văn Lang, chuyên ngành CNNT, Software Development.
	
					</pre>

            <h2 style="background-color:Tomato; font-family:Courier"> THÍCH THÚ NGHIÊN CỨU VÀO</h2>
            <p style="font-family:Courier">
                <ul>
                    <li>Lập trình</li>
                    <li>Giải thuật</li>
                    <li>Design</li>
                </ul>
            </p>
            <h2 style="background-color:Tomato; font-family:Courier">MÔN HỌC ĐÃ HOÀN THÀNH</h2>
            <p style="font-family:Courier">
                <ul>
                    <li>Fundamental of Computing 1</li>
                    <li>Fundamental of Computing 2</li>
                    <li>Object oriented program C#</li>
                    <li>ĐẠI SỐ TUYẾN TÍNH</li>
                    <li>VẬT LÝ 1</li>
                    <li>VẬT LÝ 2</li>
                </ul>
            </p>
            <h2 style="background-color:Tomato; font-family:Courier"> KỸ NĂNG</h2>
            <p style="font-family:Courier">
                <ul>
                    <li> Ngôn ngữ lập trình C#, Java, SQL</li>
                    <li> Ngoại ngữ: Tiếng Anh</li>
                </ul>
            </p>
        </article>
    </body>
</head>
<html>
